<app-header></app-header>
<div class="container form-body mt-5">
  <div class="card">
    <div class="card-header">
      <div class="float-end ">
        <span class="mx-1">switch user access</span>
        <span>
         <button class="btn btn-primary mx-1" (click)="changeAccess(accessLevelEnum.admin)"
                 [disabled]="accessLevel==='admin'" >admin</button>
         <button class="btn btn-primary" (click)="changeAccess(accessLevelEnum.primary_user)"
                 [disabled]="accessLevel==='primary_user'">primary user</button>
        </span>

      </div>
    </div>
   <div class="card-body">
     <app-dynamic-form [formData]="formData$|async"></app-dynamic-form>
   </div>
  </div>
</div>
